
.first{
    
    float:left;
    width:40%;
    margin-top:20px;
    margin-right:30px;
    padding:10px
}
.bobby{
    margin-bottom: 30px;
    background: E9967A;
}
.card{
    
    float:left;
    width:40%;
    margin-left:300px;
    padding:10px
}

.insta p{
    font-size: 40px;
    font-weight: bold;
    font-family: eufm10;
    text-align: center;   
}
pre{
    text-align: center;
    
}
.name{
    padding: 5px;
    margin: auto;
    width: 100%;
    margin-bottom: 5px
}
